# --- Postgres Configuration ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=studycollab
POSTGRES_PORT=5432

# --- MinIO Configuration ---
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123
MINIO_BUCKET_NAME=studycolab-private-assets-dev
MINIO_ENDPOINT=http://minio:9000
MINIO_PUBLIC_ENDPOINT=http://localhost:9000
MINIO_CORS_ALLOW_ORIGIN=http://localhost:3000
MINIO_REGION=ap-south-1

# --- Application Secrets ---
JWT_SECRET=secret-internal-key

# --- Frontend URLs ---
NEXT_PUBLIC_API_URL=http://localhost:8080
INTERNAL_API_URL=http://core-service:8080
