extensions:
     
  healthcheckv2:
    use_v2: true
    http:
      endpoint: "0.0.0.0:13133"

  jaeger_storage:
    backends:
      elasticsearch_main:
        elasticsearch:
          server_urls:
            - http://elasticsearch:9200 
          indices:
            index_prefix: "jaeger-main"
      elasticsearch_archive:
        elasticsearch:
          server_urls:
            - http://elasticsearch:9200
          indices:
            index_prefix: "jaeger-archive"

  jaeger_query:
    storage:
      traces: elasticsearch_main
      traces_archive: elasticsearch_archive
    ui:
      config_file: /etc/jaeger/ui-config/ui-config.json

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317"
      http:
        endpoint: "0.0.0.0:4318"

processors:
  batch:
    send_batch_size: 1000
    timeout: 10s

exporters:
  jaeger_storage_exporter:
    trace_storage: elasticsearch_main

service:
  extensions: [jaeger_storage, jaeger_query, healthcheckv2]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [jaeger_storage_exporter]
  
  telemetry:
    resource:
      service.name: jaeger
    logs:
      level: info 
    metrics:
      level: detailed
      readers:
        - pull:
            exporter:
              prometheus:
                host: 0.0.0.0
                port: 8888