global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: "study-colab-core"
    metrics_path: /metrics
    static_configs:
      - targets:
          - core-service:8080
rule_files:
  - /etc/prometheus/rules/*.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093
