global:
  resolve_timeout: 5m

route:
  receiver: "default"
  group_by: ["alertname"]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h

receivers:
- name: local-webhook
  webhook_configs:
  - url: "http://alert-receiver:5001/alerts"
    send_resolved: true

